spring:
  datasource:
    url: jdbc:h2:mem:testdb;MODE=MySQL;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
  sql:
    init:
      mode: always
  mail:
    host: localhost
    port: 25
  jpa:
    hibernate:
      ddl-auto: none
server:
  port: 8080
app:
  captcha:
    debug: false
